.page-header {
  text-align: center;
}

.page-divider {
  margin-bottom: 80px;
}

.day {
  border: 1px solid black;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #bb1f1f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Clouds {
}
